ablog==0.9.4
alabaster==0.7.9
anarchy-sphinx==0.3.1
Babel==2.3.4
bleach==3.1.0
blinker==1.4
bumpversion==0.5.3
check-manifest==0.37
click==6.7
commonmark==0.8.1
demjson==2.2.4
docutils>=0.13
future==0.16.0
imagesize==0.7.1
invoke==1.2.0
Jinja2==2.8
Markdown==2.6.8
MarkupSafe==0.23
oauthlib==2.0.0
olefile==0.44
packaging==19.0
pilkit==2.0
Pillow==4.2.1
pkginfo==1.5.0.1
Pygments==2.1.3
pyparsing==2.3.1
python-dateutil==2.8.0
python-twitter==3.1
pytz==2016.7
readme-renderer==24.0
recommonmark==0.5.0
requests==2.11.1
requests-oauthlib==0.7.0
requests-toolbelt==0.9.1
sigal==1.3.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-asciidoc==1.0.1
sphinx-automodapi==0.10
sphinx-boost==0.0.3
sphinx-celery==1.4.6
sphinx-websequencediagrams==0.3.3
sphinxcontrib-googleanalytics==0.1
sphinxcontrib-websupport==1.1.0
sphinxcontrib.twitter==0.4.0
tqdm==4.31.1
twine==1.13.0
typing==3.6.6
virtualenv==15.1.0
webencodings==0.5.1
Werkzeug==0.15.1
sphinx-bootstrap-theme==0.6.5
sphinx-glpi-theme==0.3
sphinx-nameko-theme==0.0.3
sphinx-readable-theme==1.3.0
sphinx-rtd-theme==0.4.3
sphinx-typlog-theme==0.7.2
zerovm-sphinx-theme==1.1
