ansible
ansible-core
ansible-docgen
cffi==1.15.1
cryptography==42.0.4
Jinja2==3.1.4
MarkupSafe==2.0.1
packaging==21.3
pycparser==2.21
pyparsing==3.1.2
PyYAML==6.0.1
resolvelib==0.5.4
blinker==1.5
click==8.0.4
importlib-metadata==4.8.3
Markdown==3.3.7
natsort==8.2.0
pilkit==3.0
Pillow==10.3.0
sigal==2.2
typing_extensions==4.1.1
zipp==3.6.0
asgiref==3.4.1
Django==3.2.25
django-extensions==3.2.3
django-unixdatetimefield==1.2.0
pytz==2024.1
sqlparse==0.5.0
typing-extensions==4.1.1
ablog==0.10.20
alabaster==0.7.13
anarchy-sphinx==0.3.1
astroid==2.11.7
attrs==22.2.0
Babel==2.11.0
certifi==2024.2.2
charset-normalizer==2.0.12
colorclass==2.2.2
dill==0.3.4
docutils==0.17.1
feedgen==1.0.0
gitdb==4.0.9
GitPython==3.1.41
idna==3.7
imagesize==1.4.1
invoke==2.2.0
isort==5.10.1
lazy-object-proxy==1.7.1
lxml==5.1.0
mccabe==0.7.0
platformdirs==2.4.0
Pygments==2.15.0
pylint==2.13.9
python-dateutil==2.9.0.post0
requests==2.32.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-asciidoc==1.0.2
sphinx-automodapi==0.13
sphinx-boost==0.0.3
sphinx-bootstrap-theme==0.8.1
sphinx-celery==2.1.3
sphinx-copybutton==0.5.0
sphinx-dust==1.2.4
sphinx-git==11.0.0
sphinx-glpi-theme==0.6
sphinx-markdown==1.0.2
sphinx-nameko-theme==0.0.3
sphinx-navtree==0.3.0
sphinx-pyreverse==0.0.17
sphinx-readable-theme==1.3.0
sphinx-refdoc==0.3.1
sphinx-rtd-theme==1.3.0
sphinx-sitemap==2.5.1
sphinx-tabs==3.3.1
sphinx-typlog-theme==0.8.0
sphinx-versions==1.1.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
sphinxcontrib.twitter==0.5.0
tomli==1.2.3
typed-ast==1.5.5
urllib3==1.26.19
watchdog==2.3.1
wrapt==1.16.0
zerovm-sphinx-theme==1.1
